h1 {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #75A9E7;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
}

form {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
}